/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Main Styles */
.main-content {
    background-color: cornflowerblue;
    padding: 20px;
}

.card {
    background-color: rgb(232, 231, 238);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    margin-bottom: 20px;
}

.cta-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
}

  

/* Testimonials Styles */
.testimonials {
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial .author {
    font-weight: bold;
}

/* Contact Styles */
.contact {
    background-color: darkorange;
    padding: 20px;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact h3 {
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    .card {
        padding: 10px;
    }

    .card h3 {
        font-size: 18px;
    }

    .cta-button {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}
.about {
    background-color: #f8f9fa; /* Add your desired background color here */
    padding: 40px 0;
}
.about .container {
    background-color: lightslategrey; /* Set the container background color to white */
    padding: 20px;
    border-radius: 5px;
}
.card-text {
    display: none;
}
.card-text.show {
    display: block;
}
.card-title {
    margin-bottom: 10px;
}
.cta-button {
    margin-top: 20px;
}